*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursor{
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid whitesmoke;
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	pointer-events: none;
}

.cursor span{
	font-size: 15px;
	color: #fff;
	line-height: 10px;
	margin-left: 5px;
	text-align: center;
}

#container{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url("image.jpg");
	background-size: cover;
}

.some{
	position: absolute;
	text-align: center;
	top: 45%;
	left: 50%;
	transform: translate(-45%,-50%);

}

#apple{
	text-decoration: none;
	padding: 10px 20px;
	
	border: 2px solid #fff;
	color: aliceblue;
	
}


h1{
	color: aliceblue;
	font-size: 50px;
	font-family: 'Ogg';
}

p{
	color: aliceblue;
}

@media screen and(max-width: 1024px){
	.cursor{
		display: none;
	}
	.some{
		font-size: 30px;
		text-align: center;
	}
	.some h1{
		font-size: 10px;
	}
}